# see https://registry.terraform.io/providers/yandex-cloud/yandex/latest/docs#cloud_id
yandex_cloud_id = "..."

# see https://registry.terraform.io/providers/yandex-cloud/yandex/latest/docs#folder_id
yandex_folder_id = "..."

# see https://registry.terraform.io/providers/yandex-cloud/yandex/latest/docs#token
yandex_token = "..."

# see https://registry.terraform.io/providers/yandex-cloud/yandex/latest/docs#zone
yandex_zone = "..."
